.full-width-box {
    display: flex;
    width: 80%;
    color: white;
    margin: 20px auto;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
  }
  
  .text-container {
    flex: 1;
    min-width: 400px;
    padding: 20px;
    text-align: justify;
    font-size: 22px;
    background: linear-gradient(180deg, #DDC4EA 0%, #A167C0 43.5%, rgba(224, 194, 227, 0.996216) 54%, rgba(33, 142, 135, 0.98) 99%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
      background-clip: text;
    
  
  }
  
  .image-container {
    flex: 1;
    min-width: 400px;
  }
  
  .image-container img {
    width: 100%;
    border-radius:20px;
  }
  .box-2{
    background: linear-gradient(105.79deg, #1E0143 22.68%, #1D0157 58.42%, #1E0082 97.25%);
    margin: 30px 0px;
  }
  .box-2 img{
    margin: 30px 0px;
  }

  .about-1{
    flex-wrap: wrap-reverse;
  }
  @media only screen and (max-width:700px){

    .text-container{
        padding: 0px 10px;
    }
}
@media only screen and (max-width:600px){
    .full-width-box{
        justify-content: center;
    }
    .image-container{
        min-width: 280px;
    }
    .text-container{
        padding: 0px 10px;
        min-width: 280px;
        font-size: 20px;
    }
}
@media only screen and (max-width:600px){

    .text-container{
        padding: 0px 7px;
        font-size: 17px;
    }
}
